:root {
    /* Primary */
    --cyan: hsl(179, 62%, 43%);
    --cyan-tint: hsl(179, 62%, 48%);
    --bright-yellow: hsl(71, 73%, 54%);

    /* Neutral */
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

body {
    background-color: var(--light-gray);
    font-family: 'Karla', sans-serif;
    min-height: 100vh;
}

.container {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.subscription-card {
    display: grid;
    grid-template-areas: "overview overview" "price features";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.222);
    border-radius: 0.5rem;
    font-size: 1rem;
    min-width: 30rem;
    min-height: 30rem;
}

.overview-section {
    background-color: white;
    grid-area: overview;
    color: var(--grayish-blue);
    border-radius: 0.5rem 0.5rem 0 0; 
    padding: 2rem 3rem 2rem 3rem;
    line-height: 1.6;
}

.overview-section > h2 {
    color: var(--cyan);
}

.overview-section > h3 {
    color: var(--bright-yellow);
    margin-bottom: 0.2rem;
}

.overview-section > p {
    max-width: 60ch;
    margin-top: 0;
}

.price-section {
    grid-area: price;
    background-color: var(--cyan);
    color: white;
    border-radius: 0 0 0 0.5rem;
    padding: 1.5rem 3rem 1.5rem 3rem;
}

.price-section button {
    background-color: var(--bright-yellow);
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.222);
    color: white;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    display: block;
    /* width: 15rem; */
    width: 100%;
    padding: 1rem 5rem 1rem 5rem;
    margin-top: 2rem;
}

.price {
    display: inline-flex;
    align-items: center;
    color: var(--light-gray);
    margin: 0;
}

.price > span {
    color: white;
    font-size: 2.3rem;
    font-weight: 700;
    margin-right: 0.5rem;
}

.features-section {
    grid-area: features;
    background-color: var(--cyan-tint);
    color: white;
    border-radius: 0 0 0.5rem 0;
    padding: 1.5rem 3rem 1.5rem 3rem;
}

.features-section > ul {
    list-style-type: none;
    padding: 0;
}

.features-section > ul > li {
    margin-top: 0.2rem;
}

@media (max-width: 375px) {
    .subscription-card {
        display: flex;
        flex-direction: column;
        max-width: 21rem;
        min-width: 21rem;
    }

    .subscription-card > * {
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }

    .overview-section > h3 {
        margin-bottom: 1rem;
    }

    .price-section {
        border-radius: 0;
    }

    .features-section {
        border-radius: 0 0 0.5rem 0.5rem;
    }
}
